/* fonts import */
@import "css/fonts.css";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic,cyrillic-ext);
/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    color: #000;
    text-decoration: none;
}
/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body {
    font: 14px 'FordAntenna', sans-serif;
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 1150px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding: 0 20px;
}
.pr_wrap{
    width: 1333px;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 958px;
    background: #fff url('images/header_bg.jpg') no-repeat center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 16px solid #3e4c61
}
.top{
    width: 100%;
    height: 100px;
}
.logo_bitrix{
    margin: 15px;
    float: left;
}
.top_menu{
    float: left;
    margin: 15px 15px 15px 57px;
}
.top_menu ul li{
    float: left;
}
.top_menu ul li a{
    font-size: 24px;
    text-decoration: none;
    color: #000;
    line-height: 82px;
    padding: 15px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
}
.h1{
    font-size: 45px;
    color: #3e4c61;
    margin: 100px;
    text-align: center;
    line-height: 1;
}
.top_section{
    width: 100%;
    background: #fff;
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
}
.wrapper_krug{
    position: absolute;
    bottom: -100px;
    left: 0;
    border-radius: 0 0 20% 20%;
    width: 100%;
    height: 20%;
    background: #fff;
}
.wrapper_krug2{
    position: absolute;
    bottom: -18px;
    left: 50%;
    border-radius: 0 0 100% 100%;
    width: 90%;
    height: 45%;
    background: #fff;
    margin-left: -45%;
}
.wrapper_krug3{
    position: absolute;
    bottom: 5px;
    left: 50%;
    border-radius: 0 0 100% 100%;
    width: 90%;
    height: 45%;
    background: #fff;
    margin-left: -45%;
}
.wrapper_krug4{
    position: absolute;
    bottom: 5px;
    left: 50%;
    border-radius: 0 0 100% 100%;
    width: 90%;
    height: 45%;
    background: #fff;
    margin-left: -45%;
}
.sect_menu_r{
    width: 100%;
    height: 300px;
    margin: 50px 0;
}
.left_discr_menu{
    width: 265px;
    float: left;
}
.left_discr_menu li{
    width: 100%;
    line-height: 2;
    padding-left: 20px;
    margin-top: 8px;
}
.left_discr_menu li a{
    /*font-family: 'FordAntenna' sans-serif;*/
    font-size: 14px;
    position: relative;
}
.left_discr_menu li a.action, .left_discr_menu li a:hover{
    color: #e8052d;
}
.left_discr_menu li a span{
    background: url('images/icon.png') no-repeat;
    background-position: -157px -33px;
    position: absolute;
    left: -21px;
    top: 0;
    width: 14px;
    height: 15px;
}
.left_discr_menu li a.action span, .left_discr_menu li a:hover span{
    background-position: -136px -33px;
}
.bitrix_discriprion{
    background: #ecf3f5;
    padding: 40px 60px;
    width: 720px;
    float: left;
    margin-left: 40px;
}
.bitrix_discriprion li{
    display: none;
}
.bitrix_discriprion li.action{
    display: block;
}
.bitrix_discriprion li h3{
    /*font-size: 18px;*/
    font-weight: bold;
    font-size: medium;
    /*margin-bottom: 20px;*/
}
.bitrix_discriprion li div{
    
}
.bitrix_discriprion li p{
    margin-top: 20px;
    font-weight: lighter;
    line-height: 24px;
}
.idontknow{
    margin: 150px auto 80px auto;
}
#idontknow{
    width: 540px;
    height: 114px;
    display: block;
    text-transform: uppercase;
    background: #ff0505;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
    position: relative;
    margin: 0 auto;
}
#idontknow span.text{
    width: 378px;
    display: block;
    text-align: center;
    float: right;
    margin: 18px 43px 0 0;
}
#idontknow span.what{
    position: absolute;
    background: url('images/icon.png') no-repeat;
    background-position: -275px -22px;
    width: 107px;
    height: 100%;
    text-indent: -999em;
    left: 25px;
    top: 0;
}
#idontknow:before{
    content: '';
    position: absolute;
    background: url('images/icon.png') no-repeat;
    background-position: -419px -9px;
    width: 115px;
    height: 185px;
    right: -74px;
    top: -44px;
    z-index: -1;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
    padding: 0 0 200px;
    background: #e7e7e7;
    background: -moz-linear-gradient(top,  #e7e7e7 0%, #e7e8c1 39%, #e7e972 58%, #e8eb00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(39%,#e7e8c1), color-stop(58%,#e7e972), color-stop(100%,#e8eb00));
    background: -webkit-linear-gradient(top,  #e7e7e7 0%,#e7e8c1 39%,#e7e972 58%,#e8eb00 100%);
    background: -o-linear-gradient(top,  #e7e7e7 0%,#e7e8c1 39%,#e7e972 58%,#e8eb00 100%);
    background: -ms-linear-gradient(top,  #e7e7e7 0%,#e7e8c1 39%,#e7e972 58%,#e8eb00 100%);
    background: linear-gradient(to bottom,  #e7e7e7 0%,#e7e8c1 39%,#e7e972 58%,#e8eb00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#e8eb00',GradientType=0 );
}
.main{
/*    background: #e7e7e7;
    background: -moz-linear-gradient(top,  #e7e7e7 0%, #e7e8c1 39%, #e7e972 58%, #e8eb00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(39%,#e7e8c1), color-stop(58%,#e7e972), color-stop(100%,#e8eb00));
    background: -webkit-linear-gradient(top,  #e7e7e7 0%,#e7e8c1 39%,#e7e972 58%,#e8eb00 100%);
    background: -o-linear-gradient(top,  #e7e7e7 0%,#e7e8c1 39%,#e7e972 58%,#e8eb00 100%);
    background: -ms-linear-gradient(top,  #e7e7e7 0%,#e7e8c1 39%,#e7e972 58%,#e8eb00 100%);
    background: linear-gradient(to bottom,  #e7e7e7 0%,#e7e8c1 39%,#e7e972 58%,#e8eb00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#e8eb00',GradientType=0 );*/
    width: 100%;
}
.main h2{
    background: #3e4c61;
    font-size: 31px;
    width: 346px;
    display: block;
    text-align: center;
    color: #fff;
    padding: 26px 0;
    border-radius: 12px;
    margin: -50px auto 0 auto;
    z-index: 2;
    position: relative;
}
.products_list{
    margin: 80px auto;
    display: table;
    width: 1200px;
}
.products_list > li{
    float: left;
    width: 400px;
    min-height: 600px;
}
.products_list > li header{
    width: 275px;
    height: 265px;
    position: relative;
}
.btn{
    position: absolute;
    top: 112px;
    right: -74px;
    font-size: 23px;
    text-align: center;
    background: #e8052d;
    width: 161px;
    font-weight: bold;
    padding: 10px 0;
    color: #fff;
    border-radius: 8px;
}
.wrap_products h3{
    font-weight: bold;
    margin: 20px 0;
    font-size: 18px;
}
.ul_list{
    line-height: 24px;
    list-style-type: disc;
    margin-left: 20px;
}
.dev_site_order{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 450px;
}
.dev_site_order .label_dev{
    font-family: 'ArbatCTT', sans-serif;
    display: block;
    font-size: 36px;
    position: absolute;
    bottom: 25px;
    background: #c70d31;
    color: #fff;
    box-shadow: 0 5px 1px rgba(0,0,0,0.24);
    border-radius: 5px;
    width: 532px;
    text-align: center;
    padding: 20px 20px;
    left: -310px;
}
.dev_site_order img{
    
}
.footer_1{
    background: url('images/bg_footer.png') repeat-x top;
    width: 100%;
}
.hic{
    background: #f8f8f6;
    box-shadow: 0 0 6px rgba(0,0,0,0.38);
    border-radius: 5px;
    padding: 45px;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
}
.footer_1 .wrapper{
    padding-top: 200px;
    padding-bottom: 65px;
}
.hic h2{
    color: #e8052d;
}
.hic p{
    margin-top: 45px;
}
.partner_slider{
    position: relative;
}
#partner_slider{
    width: 1018px;
    overflow: hidden;
    height: 116px;
    margin: 20px auto 100px auto;
}
#partner_slider li{
    float: left;
    width: 311px;
    margin-left: 44px;
}
#partner_slider li:first-child{
    margin-left: 0;
}
#partner_slider img{
    
}
.prev-page, .next-page{
    text-indent: -999em;
    display: block;
    background: url('images/icon.png') no-repeat;
    width: 18px;
    height: 27px;
    position: absolute;
    top: 46px;
}
.prev-page{
    background-position: -95px 0px;
    left: 15px;
}
.next-page{
    background-position: -114px 0px;
    right: 15px;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 100%;
    margin: -200px auto 0;
    background: #cef396;
    position: relative;
    display: table;
}
#wrap_kontact{
    width: 980px;
    padding: 10px 0;
    line-height: 48px;
    height: 50px;
    margin: 0 auto;
}
#wrap_kontact li{
    font-size: 24px !important;
    float: left;
    margin-left: 30px;
    position: relative;
    padding-left: 30px;
}
#wrap_kontact li:first-child{
    margin-left: 0;
    margin-right: 50px;
    padding-left: 0;
}
#wrap_kontact li .spn_footer{
    background: url('images/icon.png') no-repeat;
    width: 25px;
    height: 27px;
    display: block;
    float: left;
    background-position: 2px 0;
    position: absolute;
    top: 10px;
    left: 0;
}
#wrap_kontact li.tel .spn_footer{
    background-position: 2px 0;
}
.tel{
    font-weight: lighter;
}
.email{
    font-weight: lighter;
}
#wrap_kontact li.email .spn_footer{
    background-position: -28px 0;
}
.skype{
    font-weight: lighter;
}
#wrap_kontact li.skype .spn_footer{
    background-position: -61px 0;
}
.wrap_footer_menu{
    font-size: 24px;
    line-height: 24px;
    display: table;
    margin: 50px auto;
}
.wrap_footer_menu li{
    float: left;
    margin-left: 30px;
}
.wrap_footer_menu li a{
    text-decoration: underline;
    color: #444d60;
    display: block;
}
.wrap_footer_menu li a:hover{
   text-decoration: none;
}
.wrap_footer_menu li:first-child{
    margin-left: 0;
}
.wrap_footer_menu li a{
    
}
.top_wrap{
    display: table;
}
.top_wrap > h3{
    font-size: 30px;
    line-height: 24px;
    margin: 200px 0 100px 0;
    font-weight: bold;
}
.redaction_list{
    margin-bottom: 50px;
    display: table;
    width: 100%;
}
.redaction_list li{
    width: 376px;
    float: left;
    padding: 34px;
    border-radius: 10px;
}
.redaction_list li:hover{
    background: #fcff7d;
}
.redaction_list li h4{
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 10px;
}
.redaction_list li p{
    text-align: center;
    margin-top: 5px;
}
.redaction_list li .btn{
    font-size: 18px;
    position: initial;
    padding: 8px 0;
    width: 157px;
    display: table;
    text-align: center;
    margin: 20px auto 0 auto;
}
.module_list_wrap{
    display: table;
    margin: 0 auto;
}
.module_list_wrap {
    font-size: 18px;
    line-height: 24px;
    position: relative;
}
.module_list{
    text-decoration: underline;
}
.module_list:hover{
    text-decoration: none;
}
.redaction_version{
    margin-left: 10px;
}
.modules_list_wrap{
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 2;
}
.close_list_modules, .close_popup_window{
    position: absolute;
    text-indent: -999em;
    background: url('images/icon.png') no-repeat;
    width: 24px;
    height: 25px;
    background-position: -137px 0;
    top: 10px;
    right: 12px;
}
.modules_list{
    background: #e7e7e0;
    display: table;
    padding: 30px;
    z-index: 9;
}
.modules_list li{
    padding: 0;
    border-radius: none;
    line-height: 38px;
    font-size: 18px;
}
.modules_list li:hover{
    background: none;
}
.bg_window_m, .bg_window_m_popup{
    background: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.redaction_footer{
    margin: 100px 0;
}
.redaction_footer a{
    background: #e2ff7f;
    font-size: 25px;
    line-height: 36px;
    color: #444d60;
    width: 279px;
    padding: 10px 0;
    display: block;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
}
.wrap_window_popup{
    display: none;
}
#dont_know{
    z-index: 9;
}
.dont_know_table{
    border-collapse: inherit;
    border-spacing: 0 20px;
}
.dont_know_table tr td:first-child{
    vertical-align: middle;
    width: 100px;
    position: relative;
}
.window_popup{
    background: #ffffff;
    border: 3px solid #c0c0c0;
    box-shadow: 0 0 65px rgba(0,0,0,0.37);
    padding: 50px 34px;
    position: absolute;
    top: 1200px;
    left: 50%;
    border-radius: 5px;
    margin-left: -284px;
    z-index: 10;
}
.window_popup h4{
    font-size: 17px;
    color: #c60c30;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.window_popup .msg{
    font-size: 14px;
    color: #9a9a9a;
    text-align: center;
    /*margin-bottom: 20px;*/
}
.window_popup label{
    font-size: 17px;
    color: #000;
    text-align: right;
    margin-right: 21px;
    float: right;
}
.window_popup .star{
    font-size: 17px;
    color: #c60c30;
    display: block;
    float: left;
    position: absolute;
    top: 10px;
    right: 10px;
}
.window_popup .text{
    border: 1px solid #d0d0d0;
    box-shadow: inset 0 0 18px rgba(0,0,0,0.23);
    width: 282px;
    font-size: 17px;
    padding: 12px;
    border-radius: 3px;
    background: none;
}
.window_popup .textarea{
    border: 1px solid #d0d0d0;
    box-shadow: inset 0 0 18px rgba(0,0,0,0.23);
    width: 282px;
    font-size: 17px;
    padding: 12px;
    border-radius: 3px;
    background: none;
    resize: vertical;
}
.window_popup .btn{
    outline: 0;
    border: none;
    cursor: pointer;
    position: inherit;
    margin: 20px auto 0 auto;
    display: block;
    background: #c60c30;
    width: 292px;
    padding: 9px 0;
    font-size: 22px;
}